.top {
    /* margin: 0px; */
    padding: 10px;
    background-color: cadetblue;
}

.card {
    margin: 10px;
    min-height: 300px;
    min-width: 300px;
}

button {
    margin: 10px;
}

.hide {
    display: none;
}